.back-color {
  background-color: #4B6587;
  background-image: url("https://images.unsplash.com/photo-1562263588-35193ae8ecbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-position: center;
}

.form-signup {
  .text-muted {
    color: white !important;
    font-style: italic;
  }
}
