.list-show-admin-routes {
  list-style: none;
}

.header-section {

  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#route-header {
  width: 70%;
}

#route-description {
  width: 30%;
  text-align: center;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);

  margin-top: 20px;
  padding: 10px;
  list-style: none;

  p {
    text-align: justify;
    font-size: 16px;
  }
}

#p-description {
  margin-top: 10px;
  text-align: justify;

}
