.banner-show {
  i {
    font-size: 25px;
    margin-top: 5px;
    margin-right: 10px;
    color: #F1F1E8;
    opacity: .3;
  }

  a {
    text-decoration: none;
  }
}

.second-col {
grid-template-columns: 1fr;
}

.scd-col-card-guide {
  display: flex;
  justify-content: center;
  width: 45%;
}

#reviews {
  margin-top: 20px;

}

.first-col {
grid-template-columns: 1fr 1fr 1fr;
}

#map{
  position: sticky;
  top: 0;
}

#add-review {
  width: 50%;
  border-radius: 8px !important;
  border: none;
  overflow:hidden;
  border-radius:8px;

  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  margin: 10px;
  padding:30px;
}

.h3-review {
  margin-top: 20px;
  justify-content: center;

	background: linear-gradient(90deg, rgba(24,91,7,1) 0%, rgb(8, 145, 33) 52%, rgb(5, 128, 23) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin: 40px;


}

//Banner

.banner-show {
  background-size: cover;
  background-position: 50% 70%;
  padding: 70px 0;
}

.banner-show h1 {
  //margin: 0;
  margin-top: -10px;
  color: #F1F1E8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.banner-show p {
  font-size: 20px;
  color: #F1F1E8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  text-transform: capitalize;
}


#review_comment {
    border-radius: 20px;

}
