.ul-guide {
  #map {
    position: relative;
  }
}

.first-col-guide {
  width: 50%;
  margin-right: 10px;
}

.second-col-guide {
  margin-top: 10px;
  width: 45%;
  margin-left: 2px;
  padding: 5px;
}

#trending-show-guide {
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
