<div class="banner-bookings">
  <h1>My Bookings</h1>
</div>

<div class="container">
  <div class="cards" >
    <% @bookings.each do |booking| %>
      <div class="card card-has-bg click-col p-4" style=" background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(<%= cl_image_path booking.route.photo.key %>);">
        <div style="transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);  position:relative;
          z-index:20;">
          <div class="title-booking text-center d-flex align-items-center flex-column" style="height: 165px">
            <p class="fecha-booking">Fecha: <%= booking.check_in %></p>
            <h3 class="name-booking"><%= booking.route.name %></h3>
          </div>
          <div class="descriptio-booking d-flex justify-content-between pago-div">
            <% if booking.status_pago.nil? %>
              <p class="name-booking pagar-booking"><strong>Pago Pendiente </strong></p>
              <%= link_to "Pagar", edit_booking_path(booking), class: "btn btn-dark" %>
            <% end %>
          </div>
        </div>
        </div>
    <% end %>
  </div>

  <% if @bookings != [] %>
        <a href="https://wa.me/5211234567890?text=Saludos,%20espero%20la%20ruta%20con%20entusiasmo" class="whatsapp" target="_blank"> <i class="fab fa-whatsapp whatsapp-icon"></i></a>
  <% end %>
</div>
