<%# <h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p> %>

<div class="container col-md-5" style="margin-top: 10px; padding-bottom: 168px">
      <div class="bg-white rounded p-3">
        <h3>Book your reservation</h3>
        <%= simple_form_for [@route, @booking] do |f| %>
          <% if @booking.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @booking.errors.full_messages.each do |message| %>
                <% message %>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.input :checkin %>
        <%= f.submit value:'Book', class:'btn btn-primary' %>
        <%= link_to 'Back', route_path(@route), class:'btn btn-dark' %>
        <% end %>
      </div>
</div>
