<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);">
    <div class="container titulos">
        <h1> <strong>SECRETOS DE CIUDAD</strong></h1>
        <p>Explora, Disfruta, Vive la Ciudad</p>
        <%# <a class="btn btn-flat" href="#">Apply now</a> %>
    </div>
</div>
