<div class="green-footer">

  <footer class="py-3 mt-4 site-footer ">

  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-5">
      <h6>Quienes somos</h6>
      <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
    </div>
    
    <div class="col-xs-6 col-md-3">
    <h6>Categories</h6>
    <ul class="footer-links">
      <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
  </div>
</div>
    <p class="text-center border-bottom pb-3 mb-3">SECRETOS DE CIUDAD</p>
    <ul class="nav justify-content-center ">
      <li class="nav-item"><a href="#" class="nav-link px-2 ">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">About</a></li>
    </ul>


    <!-- Footer Bottom Area Start -->
    <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>© Todos los derechos reservados por <a href="#">secretosdeciudad -(con carino)<i class="fa fa-love"></i></a></p>
                </div>
            </div>
        </div>
    </div>
  </footer>
</div>
