.show-usr-mar{

margin-bottom: 80px;
margin-top: 40px;
}

.show-review-mar{
margin-bottom: 80px;
}

.show-container-mar{
  margin-top: 30px;
}

.btn-show-mar{
margin-top: 65px;
}

.review-show-mar{
margin-bottom: 20px;
margin-top: 20px;

}

.review-show-mar{
margin-bottom: 20px;
margin-top: 15px;

}

.book-mar{
  margin-top: 60px;
  margin-bottom: 60px;
}
