.show-usr-mar{

margin-bottom: 80px;
margin-top: 40px;
}

.show-review-mar{
margin-bottom: 80px;
}

.show-container-mar{
  margin-top: 30px;
}

.btn-show-mar{
margin-top: 32px;
}

.review-show-mar{
margin-bottom: 20px;
margin-top: 20px;

}

.review-show-mar{
margin-bottom: 20px;
margin-top: 15px;

}

.book-mar{
  margin-top: 60px;
  margin-bottom: 150px;
}

.admin-pago{

  margin-bottom: 60px;
}


.forms-mar{
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.extra-mar{
  margin-top: 60px ;
  margin-bottom: 70px ;
}

.texts-mar{
  margin-bottom: 20px ;
}

.mar-texto-card{
  margin-top: 30px;
  margin-bottom: 30px ;
}

.mar-id{

  margin: 20px;
}

.edit-guide-form-mar{
  margin-right: 20px;
}

.form-group {
  margin-bottom: 1
rem;
margin-right: 10px;
margin-left: 10px;
}

.edit-usr-mar{
  margin-top: 60px;
  margin-bottom: 60px ;
}

.places-admin-show-mar{

  margin-top: 60px;
  margin-bottom: 200px ;
}

.margin-reviews{
  margin-bottom: 20px ;
}


.tables-mar{
  margin-bottom: 40px;
}

.table-index-guide{
  margin-bottom: 40px;
}

.title-gui-index{
  font-size: 20px;
}

.show-guide-map{
  margin-top: 40px;
}

.tendencia-show-guide{
  margin: 16px 0 10px 0;
}

.book-mars-new{

  margin-top: 100px;
  margin-bottom: 200px ;
}

.book-mar-new{
  margin-left: 20px;
}
