.header .navbar {
  background-color: rgba(32, 106, 93, 0.8) !important;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  position:relative;
  z-index:20;
}
#radio1,#radio2,#radio3,#radio4{
    display: none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.content div:after{
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 100%;
    left: 28px;
}
.content .tab2:after{
    left: 122px;
}
.content .tab3:after{
    left: 210px;
}
.content .tab4:after{
    left: 303px;
}
.letter-banner{
  color:rgba(255, 255, 255, 0.575) !important;
}
.letter-banner:hover{
  color:black !important;
}

.btn-nav-color2 {
  background-color: rgba(191, 220, 174, 0.534)!important;
  font-weight: bolder;
  opacity: 0.6;
  margin-left: 3px;
  border-radius: 8px;
  color:rgb(255, 255, 255) !important;
}
.btn-nav-color2:hover{
  color:black !important;
  background-color: rgba(191, 220, 174, 0.4);
  opacity: 0.5;
}
