.navbar-lewagon {
  justify-content: space-between;
  background: rgb(32, 106, 93);
   position:relative;
  z-index:20;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-nav-color {
  background-color: rgba(191, 220, 174, 0.8)!important;
  opacity: 0.6;
  margin-left: 3px;
  border-radius: 8px;
  color:black;
}
.btn-nav-color:hover{
  color:white;
  background-color: rgba(191, 220, 174, 0.4)
}

.color-letters{
  color: $green-claro !important;
}
.logo{
  width: 80%;
}
.drop-photo{
  background-color: rgba(255, 255, 255, 0.958)!important;
  border-radius: 8px;
}

.hover-letter:hover{
font-size: 20px;
background-color: rgba(191, 220, 174, 0.8)!important;
transition: all 0.4s !important;
}

.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition:         all 0.4s  ease;
  -moz-transition:    all 0.4s  ease;
  -webkit-transition: all 0.4s  ease;
  -o-transition:      all 0.10s  ease;
  -ms-transition:     all 0.4s  ease;
}
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.dropdown {
  display: inline-block;
}
.hover-imagen:hover{
   transition:         all 0.2s  ease;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.header-2{
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
}
