.navbar-lewagon {
  justify-content: space-between;
  background: rgb(32, 106, 93);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-nav-color {
  background-color: $green-claro;
  margin-left: 3px;
  border-radius: 8px;
}
.color-letters{
  color: $green-claro !important;
}
