.nav-link{
  color:#206A5D;

  &:hover{
    color:#F1F1E8;
    background-color: #BFDCAE;
  }
}

.title {
  color:#206A5D;
  font-weight: bold;

  &:hover{
    color:#F1F1E8;
    background-color: #BFDCAE;
  }
}

.sidebar-sticky {
  //box-shadow: 0px 0 12px 0 rgba(0,0,0,0.2);
  width: 150px;
}
