.thead-green {
  background-color: #BFDCAE;
  color: #206A5D;
}

.table {
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
}

.td-link {
  color:#206A5D;
  font-weight: bold;
  &:hover{
    color:#BFDCAE;
    text-decoration: none;
  }
}

td  {
  color:#206A5D;
}

.title-table{
  color:#206A5D;
  font-weight: bold;
}
