<div class="min-vh-80">
  <h1>Routes Index</h1>

    <div class="cards">
        <% @routes.each do |route| %>
          <div class="card">
            <div class="card-body">
              <div><%= route.name %>
                <p>Descripción: <%= route.description %></p>
              </div>
              <div class="btn btn-primary"><%= link_to 'View details', route_path(route) %></div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
