<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1576470290805-d094d04aba29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);">
    <div class="container">
      <p>Mi Calendario de Rutas</p>
    </div>
</div>

<div class="d-flex">
  <%# Sidebar %>
  <div class="sidebar-sticky border-right">
    <ul class="nav flex-column">
      <li class= "nav-link title">Mis Rutas</li>
      <% @guide_routes.each do |route| %>
          <li class="nav-link"><%= route.name %> </li>

      <% end %>
    </ul>
  </div>

  <%# Tabla %>
  <div class="container mt-3">
    <div class="min-vh-80">
     <% @guide_routes.each do |route| %>

      <table class="table">
        <thead class="thead-green">
        <p class ="title d-flex justify-content-center"><%=route.name %></p>
          <tr>
            <th scope="col">Fecha de la Ruta</th>
            <th scope="col">Duraccion</th>
          </tr>
        </thead>
        <tbody>
            <tr>

              <% @fechas_all = [] %>
              <% fechas= route.available_dates %>
              <% array_fechas = fechas.split(',')  %>
              <% array_fechas.each do |fecha|  @fechas_all << Date.strptime(fecha, "%Y%m%d") end %>
              <% @fechas_all.each do |date|%>
                  <tr>
                    <td><%= link_to date , guide_show_path(route,date), class:"nav-link title"%> </td>
                    <td><%= route.duration %> hrs </td>
                    <tr>
                    </tr>
                  </tr>

              <% end %>
            </tr>
          <% end %>


        </tbody>
      </table>
    </div>
  </div>
</div>
